

html,body {
  margin:0;
  padding:0;
}
header {
      background: url('http://cdn.lifebuzz.com/images/17001/lifebuzz-8f6bfa334fad6d7a58c50dfb3a2b08e8-limit_2000.gif');
      background-size: cover;
      color: white;
      margin: 0;
      padding: 20px;
    }
    h1 {
      text-align:center;
      font-size: 60px;
      background: rgba(1,1,1,.5);
      color: rgba(0,200,40,.8);
    }
    body {

        background: rgba(0,240,80,.9);
        color: solid white;
    }

    @font-face {
        font-family: FridayNightLights;
        src: url(Control Panel\Appearance and Personalization\Fonts\FNL_DEMO-KCFonts.ttf);

    }
    p {
      text-align: center;
      font-family: Helvetica;
      color: rgba(10,184,88,.95);
    }
    ul {
      background: rgba(0,0,0,.5);
      padding: 15px;
      margin: 100px 0px 0px 0px;
    }
    li {
      font-align: center;
      display: inline;
      padding: 0px 0px 0px 10px;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
        display: block;
      }
    }
  </style>